* {
  /* border: 3px solid red; */
  font-size: 16px;
}
/* styles header and puts bottom border on */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  background-color: slategray;
  justify-content: space-between;
  align-items: center;
  border-bottom: 10px solid aqua;
}

/* sets header image to fit screen */
.header-image img {
  width: 100%;
  height: 200px;
}

.header-list {
  margin-right: 10px;
}

/* styles list */
#header-list > li {
  padding: 15px;
  border: 3px solid black;
  background-color: aqua;
  border-radius: 5px;
}

li {
  display: inline;
}

.header-1 h1 {
  padding: 10px;
  font-size: 200%;
  margin-top: 10px;
  background-color: aqua;
  border-radius: 5px;
  border: 3px solid black;
}

main {
  display: flex;
  flex-flow: column wrap;
  height: 1020px;
}

.about-me {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  padding: 20px 10px 10px 10px;
}

.about-me-sidebar {
  display: flex;
  font-size: 200%;
  width: 20%;
  border: 3px solid black;
  text-align: center;
  justify-content: center;
}
/* Aligns text with center of main paragraph */
.about-me-sidebar h2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* some paragrah design */
.about-me-paragraph {
  width: 80%;
  font-size: 24px;
}

.about-me-paragraph p {
  padding-left: 10px;
}
/* makes my-work container flex */
.my-work {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* customizes my work sidebar */
.my-work-sidebar {
  font-size: 200%;
  display: flex;
  width: 20%;
  border: 3px solid black;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 9px;
}
/* makes the work container flex */
.work {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
}

/* customizes work-1 and adds background image */
#work-1 {
  display: flex;
  width: 80%;
  height: 200%;
  border: 5px solid aqua;
  margin: 20px;
  align-items: center;
  background-image: url("https://tandfbis.s3-us-west-2.amazonaws.com/rt-files/Faculty/Laura+Maisey/10+tips+for+successful+studying+3+OP.jpg");
}

/* adds hover effects for my work */
#work-1:hover,
#work-2:hover {
  opacity: 0.5;
}

/* customizes work-2 and adds background image */
#work-2 {
  display: flex;
  align-items: center;
  width: 38%;
  height: 100%;
  border: 5px solid aqua;
  margin: 20px;
  background-image: url("https://a.cdn-hotels.com/gdcs/production9/d1032/e21751d2-bf2c-4bfe-ba26-846a5d5d1c27.jpg?impolicy=fcrop&w=800&h=533&q=medium");
  background-size: auto 630px;
}

#work-1-description {
  padding: 30px;
  background-color: aqua;
}

#work-2-description {
  padding: 30px;
  background-color: aqua;
}
/* customizes footer and aligns items within*/
footer {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
  background-color: slategray;
  justify-content: space-around;
  align-items: center;
  font-size: 175%;
}

.footer h1 {
  color: aqua;
}

#footer-list > li {
  padding: 20px;
  color: aqua;
}
