* {
  border: 3px solid red;
  font-size: 16px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  background-color: slategray;
  justify-content: space-between;
  align-items: center;
  border-bottom: 10px solid aqua;
}

.header-image img {
  width: 100%;
  height: 200px;
}

.header-list {
  /* position: relative; */
  /* left: 236px; */
  /* top: 10px; */
  margin-right: 10px;
}

ul > li {
  padding: 15px;
  border: 3px solid black;
  background-color: aqua;
}

li {
  display: inline;
}

h1 {
  padding: 10px;
  font-size: 200%;
  margin-top: 10px;
  background-color: aqua;
  border-radius: 5px;
  border: 3px solid black;
}

h2 {
  margin-top: 20px;
}

.about-me {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  padding: 20px 10px 10px 10px;
}

.about-me-sidebar {
  font-size: 200%;
  width: 20%;
  border-right: 3px solid black;
  text-align: center;
}

.about-me-paragraph {
  width: 80%;
  font-size: 24px;
}

.about-me-paragraph p {
  padding-left: 10px;
}
